.jumbotron {
    padding-top: 5rem;
    background-color: #fff;
}

.custom-heading {
    color: #f5842d;
    font-family: 'Oswald', sans-serif;
    margin-top: 3px;
}

#about {
    background-color: 	#f5842d;
}

#projects {
    background-color: #fff;
}

#contact {
    background-color: 	#f5842d;
}

section {
    padding-top: 5rem;
}

footer {
    background-color: white;
    margin-top: -1px;
}